.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(http://res.cloudinary.com/dsgktnrbx/image/upload/v1500512920/pexels-photo-489266_wdjvkh.jpg);
  background-size: cover;
  background-position: center bottom;
}
.landing-header {
  padding: 25px;
  background: rgba(0, 0, 0, .1);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.landing-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .1);
  height: 400px;
  min-width: 400px;
  padding: 15px;
  overflow-y: hidden;
}

.landing-nav {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  font-weight: 300;
}

.nav-list li {
  margin-left: 10px;
}

.nav-list li.header-nav-link {
  margin-left: 10px;
  transition: all 0.5s;
  font-weight: bold;
  &:hover {
    color: $red;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 25px;
  display: inline;
  background-color: $red;
}

.logo-alt {
  height: 40px;
  width: 40px;
  padding: 5px;
  display: inline;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Condensed", Arial, sans-serif;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.landing-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  box-sizing: border-box;
  color: #fff;
  width: 240px;
  height: 48px;
  padding: 5px;
  padding-left: 10px;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.5s;
    &:hover {
      background: rgba(0, 0, 0, .25)
    }
}

.landing-button-light {
  @extend .landing-button;
  padding: 4px;
  padding-left: 9px;
  background: 0;
  border: 1px solid white;
  &:hover { color: white;
    background: rgba(0, 0, 0, .25)
  }
}

.login-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 80px;
  font-weight: 300;
  padding: 40px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  word-spacing: 30px;
}

.login-input {
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, .2);
}

.submit {
  width: 120px;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  background-color: $red;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  &:hover { color: $red;
    background: #fff;
  }
}

.session-form {
  width: 400px; height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background: rgba(0, 0, 0, .1);
}

#welcome-text {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 300;
}

#welcome-text-small {
  @extend #welcome-text;
  font-size: 14px;
}

#session-errors {
  color: $red;
  font-size: 14px;
}

footer {
  width: 100vw;
}
