$red: #d71e3a;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;

}
.logo {
  height: 80px;
  width: 80px;
  border-radius: 45px;
  padding: 5px;
  display: inline;
  background-color: $red;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto Condensed", Arial, sans-serif;
  margin-left: 45px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.landing-button {
  background-color: $red;
  text-transform: uppercase;
  color: #fff;
  height: 450px;
  width: 40%;
  padding: 5px;
  margin: 5px;
  font-family: "Roboto", Arial, sans-serif;
}

.loginButtonContainer {
  display: flex;
}
