@import "./base/reset";
@import "./base/colors";

body {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: $black;
  color: white;
}

.inline-link {
  color: $red;
  font-weight: bold;
}

.album-background {
  background-color: $red;
  height: 200px;
  width: 200px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  box-sizing: border-box;
  color: #fff;

  padding: 5px;
  padding-left: 10px;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  padding-left: 5px;
  transition: all 0.5s;
    &:hover {
      background: rgba(0, 0, 0, .25)
    }
}

@import "./loading";
@import "./landing.scss";
@import "./player/player";
@import "./player/playlists";
@import "./player/navbar";

//TODO: WHAT IS THIS???
.testing {
  position: relative;
}
