@import "./base/reset";
@import "./base/colors";
@import "./landing.scss";
@import "./player/player";

body {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: $black;
  color: white;
}

.inline-link {
  color: $red;
  font-weight: bold;
}
