.playlists-list {
  padding: 0px 50px 0px 50px;
  cursor: pointer;
}

.add-track {
  padding: 50px;
}

.add-track .playlists-item-sub {
  cursor: pointer;
}

.playlists-item {
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 2px 0px 2px 0px;
  transition: all .5s;
  padding: 0 5% 0 5%;
  &:hover {
    background-color: rgba(26,26,26,.5);
  }
}

.playlists-item-sub.info {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.info.username {
  text-transform: uppercase;
  font-size: 13px;
  opacity: .5;
}

.playlist-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-follow-button {
  font-size: 9px;
  letter-spacing: 4.5px;
  padding: 2px 2px 2px 6.5px;
}

.playlist-button {
  width: 20px;
  height: 20px;
  display: inline;
  cursor: pointer;
  &:hover {
    filter: blur(1px);
  }
}

.new-playlist-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%; width: 100%;
  background-color: $black;
}

.new-playlist-form {
  flex-grow: 1;
  width: 100%; height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-playlist-title {
  font-size: 32px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0px 0px 50px 0px;
  width: 100%;
}
