.player {
  height: 100vh;
  display: block;
}

.nav-bar-container {
  display: block;
  position: fixed;
  vertical-align: baseline;
  z-index: 10;
  height: 100vh;
  width: 220px;
  background-color: rgba(26,26,26,.35);
}

.player .nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 24px 24px 110px 24px;
  box-sizing: border-box;
}



.logo-small {
  @extend .logo;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  padding: 3.2px;
  transition: all .75s;
  &:hover {
    opacity: .25;
        filter: blur(1px);
  }
}

.small-logo-text {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  opacity: 0;

  transition: all .75s;
  &:hover {
    opacity: .05;

  }
}

.logo-small-container {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // &:hover {
  //   opacity: .05;
  // }
}

.main-nav-bar {
  flex-grow: 1;
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

}

.nav-header {
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px;
}

.nav-bar-button {
  @extend .submit;
}

.main-view-container {
  padding-left: 220px;
  padding-bottom: 100px;
  position: fixed;
  background: linear-gradient(rgb(180,180,180), $black);
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.browse-nav-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.browse {
  padding: 0px 50px 0px 50px;
  min-height: 100%;
  height: 100%;
  display: block;
}

.browse-nav {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
}

.browse-nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.new-playlist-button {
  position: absolute;
  right: -120px;
}

.browse-nav li {
  margin: 20px;
  text-transform: uppercase;
  width: 70px;
}
.browse-nav li:last-child {
  text-align: right;
}
.browse-nav li:first-child {
  text-align: left;
}

.view-header {
  font-size: 32px;
  word-spacing: 16px;
  letter-spacing: 8px;
}

.tracks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.track-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
}

.track-item  {
  margin: 20px;
}

.album-art {
  width: 200px;
  height: 200px;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}

.widget-container {
  background-color: $black;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
  padding: 0px 20px 0px 20px;
}

.widget {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control {
  cursor: pointer;
}

.control-button {
  height: 50px; width: 50px;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  &:hover {
    opacity: .1;
  }
}

.control-button-medium {
  height: 40px; width: 40px;
}

.control-button-small {
  height: 30px; width: 30px;
}

.control-button:last-child {
  position: absolute;
  right: 0;
  margin-right: 50px;
}
