.playlists-item {
  display: flex;
  flex-direction: row;
}

.playlists-item-sub.ord {

}

.playlists-item-sub.info {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.playlist-button {
  width: 20px;
  height: 20px;
  display: inline;
}
