.player {
  height: 100vh;
  display: block;
}

.nav-bar-container {
  display: block;
  position: fixed;
  vertical-align: baseline;
  z-index: 10;
  height: 100vh;
  width: 220px;
  background-color: rgba(26,26,26,.35);
}

.player .nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 24px 24px 110px 24px;
  box-sizing: border-box;
}

.logo-small {
  @extend .logo;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  padding: 3.2px;
  box-sizing: border-box;
}

.main-nav {
  flex-grow: 1;
}

.nav-bar-button {
  @extend .submit;
}

.main-view-container {
  padding-left: 220px;
  padding-bottom: 100px;
  position: fixed;
  background: linear-gradient(rgb(180,180,180), $black);
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.view-header {
  font-size: 32px;
  word-spacing: 16px;
  letter-spacing: 8px;
}

.tracks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.track-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
}

.track-item  {
  margin: 20px;
}

.album-art {
  width: 200px;
  height: 200px;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}

.widget-container {
  background-color: $black;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
}

.widget {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control {
  cursor: pointer;
}
