.playlists-list {
  padding: 0px 50px 0px 50px;
  cursor: pointer;
}

.playlists-item {
  display: flex;
  flex-direction: row;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 2px 0px 2px 0px;
  transition: all .5s;
  &:hover {
    background-color: rgba(26,26,26,.5);
  }
}

.playlists-item-sub.ord {

}

.playlists-item-sub.info {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.playlist-button {
  width: 20px;
  height: 20px;
  display: inline;
}

.new-playlist-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%; width: 100%;
  background-color: $black;
}

.new-playlist-form {
  flex-grow: 1;
  width: 100%; height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-playlist-title {
  font-size: 32px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0px 0px 50px 0px;
  width: 100%;
}
